/*중분류 탑 5*/
.ct-best .ct-product .price-2 {
    display: block;
    margin-top: 2px;
    font-size: 20px;
    color: #e02020;
    font-weight: 500;
}
.ct-best .ct-product .price-2 span {
    font-size: 13px;
    position: relative;
    top: -1px;
    left: 1px;
}
.ct-best .ct-product .price-1 span {
    font-size: 11px;
}
.ct-best .ct-product .price-1 {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #a9a9a9;
    text-decoration: line-through;
}
.ct-best .ct-product .price {
    display: block;
    margin-top: 4px;
}
.ct-best .ct-product .prd-name {
    overflow: hidden;
    height: 36px;
    max-height: 72px;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: #000;
    font-size: 14px;
    text-align: left;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ct-best .ct-product .img, .ct-best .ct-product .img .minor, .ct-best .ct-product .img img {
    width: 135px;
    height: 135px;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
.ct-best .ct-product .img, .ct-best .ct-product .img .minor, .ct-best .ct-product .img img {
    width: 135px;
    height: 135px;
}
.ct-best .ct-product .num {
    position: absolute;
    left: -5px;
    top: -2px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    opacity: .8;
    border-radius: 14px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}
.ct-best .ct-product .item a {
    display: block;
}
a {
    color: #666;
    text-decoration: none;
}
.ct-best .ct-product .item {
    position: relative;
    width: 135px;
}
.ct-best .ct-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: -23px;
    padding-bottom: 46px;
}
.ct-content .ct-tab .is-active a {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(-.032em);
    color: #f27370;
    font-weight: 700;
}
.ct-content .ct-tab a {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -.5px;
    color: #888;
}
.ct-content .ct-tab * {
    vertical-align: top;
}
.ct-content .ct-tab>span {
    float: left;
}
.ct-content .ct-tab {
    position: absolute;
    right: 15px;
    top: -26px;
}
.ct-best .col-wrap {
    position: relative;
    padding: 43px 15px 21px;
}
.ct-content .ct-tit {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    color: #333;
    font-weight: 700;
}
.ct-best {
    border-bottom: 1px solid #e5e5e5;
}
.ct-content.bg-white {
    padding-top: 30px;
}
.ct-content {
    position: relative;
}
button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}
.ct-best .ct-product .btn_zzim {
    position: absolute;
    top: 95px;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #ebebeb;
    text-indent: -999999px;
    font-size: 0;
    background: #fff url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_zzim.png) no-repeat 50% 50%;
}
button {
    text-align: center;
    color: #fff;
}
button, input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

button, input[type=submit] {
    font-family: Montserrat,-apple-system,NotoSansCJKkr,AppleSDGothicNeo,Roboto,sans-serif;
    font-weight: 700;
}
button, input.button, input.image, input.submit, label {
    cursor: pointer;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
.ct-best .ct-product .item+.item {
    margin-left: 20px;
}
.ct-best .ct-product .ct-link-arrow span {
    display: inline-block;
    padding-right: 12px;
    background-image: url(https://www.oliveyoung.co.kr/pc-static-root/image/category/ico_link_arrow.png);
    background-repeat: no-repeat;
    background-size: 7px auto;
    background-position: right center;
    color: #333;
}
.ct-best .ct-product .ct-link-arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    text-align: center;
    background-color: #fff;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}



.ct-curation-wrap .cate_prd_list>li .btn_zzim {
      position: absolute;
      top: 120px;
      right: 0;
      width: 40px;
      height: 40px;
      border: 1px solid #ebebeb;
      text-indent: -999999px;
      font-size: 0;
      background: #fff url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_zzim.png) no-repeat 50% 50%;
}
.cate_prd_list>li .prd_info .prd_price .tx_cur>span {
    display: inline-block;
    font-size: 20px;
    vertical-align: -1px;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_price .tx_org+.tx_cur {
    margin-top: 0;
    margin-left: 0;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_price .tx_cur {
    margin-top: 20px;
}
.cate_prd_list>li .prd_info .prd_price .tx_org+.tx_cur {
    margin: 0 0 0 7px;
    vertical-align: bottom;
}
.cate_prd_list>li .prd_info .prd_price .tx_cur {
    display: inline-block;
    color: #e02020;
    font-weight: 700;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_price .tx_org>span {
    font-weight: 400;
    letter-spacing: 0;
}
.cate_prd_list>li .prd_info .prd_price .tx_org>span {
    display: inline-block;
    font-size: 14px;
    text-decoration: line-through;
    vertical-align: 0;
    letter-spacing: -.02em;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_price .tx_org {
    display: block;
    color: #a9a9a9;
    font-weight: 400;
}
.cate_prd_list>li .prd_info .prd_price .tx_org {
    color: #777;
    font-size: 12px;
    text-decoration: line-through;
    vertical-align: middle;
    font-weight: 700;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_price {
    height: auto;
    line-height: 20px;
    margin-top: 5px;
    text-align: left;
    cursor: default;
}

.cate_prd_list>li .prd_info .prd_price {
    height: 25px;
    line-height: 22px;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_name * {
    text-align: left;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .tx_name {
    margin-top: 0;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    margin-top: 5px;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    overflow: hidden;
    height: 40px;
    margin-top: 2px;
    padding: 2px 0;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_name {
    margin-top: 10px;
    height: 36px;
    min-height: 100%;
}
.cate_prd_list>li .prd_info .prd_name {
    margin-top: 15px;
}

.cate_prd_list>li .prd_info .prd_name {
    display: block;
    min-height: 62px;
    margin: 8px 0 0;
    text-decoration: none;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_thumb img {
    max-width: 160px!important;
    max-height: 160px!important;
}
.cate_prd_list>li .prd_info .prd_thumb>img {
    width: auto!important;
    max-width: 215px;
    height: auto!important;
    max-height: 215px;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_thumb {
    width: 160px;
    height: 160px;
}
.cate_prd_list>li .prd_info .prd_thumb {
    position: relative;
    display: block;
    width: 215px;
    height: 215px;
    background: #fff;
}
.ct-curation-wrap .cate_prd_list>li .prd_info {
    display: block;
}
.cate_prd_list>li .prd_info {
    text-align: center;
    font-size: 14px;
}
a {
    color: #666;
    text-decoration: none;
}
.cate_prd_list.no_line {
    border-bottom: 0;
}
.cate_prd_list {
    border-bottom: 1px solid #ddd;
}
ol, ul {
    list-style: none;
}
.ct-best-product .ct-curation-wrap {
    margin-top: -5px;
}
.ct-content.bg-white {
    padding-top: 30px;
}
.ct-content {
    position: relative;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_name * {
    text-align: left;
}

.ct-curation-wrap .cate_prd_list>li .prd_info .tx_name {
    margin-top: 0;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    margin-top: 5px;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    overflow: hidden;
    height: 40px;
    margin-top: 2px;
    padding: 2px 0;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_name {
    margin-top: 10px;
    height: 36px;
    min-height: 100%;
}
.cate_prd_list>li .prd_info .prd_name {
    margin-top: 15px;
}
.cate_prd_list>li .prd_info .prd_name {
    display: block;
    min-height: 62px;
    margin: 8px 0 0;
    text-decoration: none;
}
.cate_prd_list>li .prd_info .prd_flag>.icon_flag {
    float: none;
}
.ct-curation-wrap .cate_prd_list .icon_flag.delivery {
    width: 55px;
}
.ct-curation-wrap .cate_prd_list .icon_flag {
    width: 35px;
}
.icon_flag.delivery {
    width: 60px;
    background-color: #f374b7;
}
.prd_flag span {
    float: left;
}
.icon_flag {
    display: inline-block;
    width: 40px;
    height: 18px;
    border-radius: 9px;
    line-height: 17px!important;
    color: #fff!important;
    font-size: 12px!important;
    text-align: center;
    vertical-align: middle;
    text-decoration: none!important;
    margin: 0!important;
}
.cate_prd_list>li .prd_info .prd_flag>.icon_flag {
    float: none;
}
.ct-curation-wrap .cate_prd_list .icon_flag {
    width: 35px;
}

.icon_flag.coupon {
    background-color: #9bce26;
}
.prd_flag span {
    float: left;
}
.icon_flag {
    display: inline-block;
    width: 40px;
    height: 18px;
    border-radius: 9px;
    line-height: 17px!important;
    color: #fff!important;
    font-size: 12px!important;
    text-align: center;
    vertical-align: middle;
    text-decoration: none!important;
    margin: 0!important;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_flag {
    text-align: left;
    cursor: default;
}
.cate_prd_list>li .prd_info .prd_flag {
    margin-top: 5px;
    padding-bottom: 0;
}
.prd_flag {
    overflow: hidden;
}
.ct-curation-wrap .cate_prd_list>li .prd_info .prd_name {
    margin-top: 10px;
    height: 36px;
    min-height: 100%;
}

.cate_prd_list>li .prd_info .prd_name {
    margin-top: 15px;
}
.cate_prd_list>li .prd_info .prd_name {
    display: block;
    min-height: 62px;
    margin: 8px 0 0;
    text-decoration: none;
}
.ct-best-product .ct-curation-wrap .cate_prd_list>li {
    margin-top: 25px;
}
.ct-curation-wrap .cate_prd_list>li {
    width: 160px;
    padding: 0;
    margin: 0 18px;
    overflow: hidden;
}
.cate_prd_list>li {
    position: relative;
    float: left;
    width: 255px;
    padding: 30px 20px 35px;
}
.cate_prd_list:after {
    content: '';
    display: block;
    clear: both;
}
.ct-curation-wrap .cate_prd_list .btnbag {
    position: absolute;
    z-index: 3;
    top: 234px;
    right: 10px;
    width: 16px;
    height: 18px;
    margin: 0;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/icon_bag.png) no-repeat 0;
    font-size: 0;
    color: transparent;
}
button {
    text-align: center;
    color: #fff;
}
button, input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}
button, input[type=submit] {
    font-family: Montserrat,-apple-system,NotoSansCJKkr,AppleSDGothicNeo,Roboto,sans-serif;
    font-weight: 700;
}
.ct-menu .list a {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.86px;
}
a {
    color: #666;
    text-decoration: none;
}
.ct-menu .list li {
    height: 18px;
}
.ct-menu .list {
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ct-menu .ct-heading {
    margin-bottom: 38px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.3px;
    font-weight: 700;
    color: #000;
    word-break: keep-all;
    word-wrap: break-word;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ct-main .ct-menu {
    float: left;
    width: 141px;
    margin-right: 49px;
}
.ct-main {
    width: 980px;
    margin: 48px auto 0;
    letter-spacing: 0;
}
#Contents {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}
#Container {
    overflow: hidden;
}

.ct-main .ct-content-wrapper {
    float: left;
    width: 790px;
}
a, address, blockquote, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, select, span, strong, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
.ct-menu .list li+li {
    margin-top: 15px;
}
/*소분류*/


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
#Container {
    overflow: hidden;
}

#Container, #Footer, #Wrapper {
    width: 100%;
    min-width: 1020px;
}
#Contents {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}
.cate_align_box .type_sort>button.btn_list {
    margin-left: 10px;
    background-position: -28px 0;
}
.cate_align_box .type_sort>button.btn_thumb {
    background-position: 0 -28px;
}
.cate_align_box .type_sort>button {
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/bg_sorting.png) no-repeat 0 0;
}
.cate_align_box .type_sort>button {
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/bg_sorting.png) no-repeat 0 0;
}
cate_align_box:after {
    content: '';
    display: block;
    clear: both;
}
.cate_prd_list>li .prd_info .prd_thumb {
    position: relative;
    display: block;
    width: 215px;
    height: 215px;
    background: #fff;
}
a {
    color: #666;
    text-decoration: none;
}
.cate_prd_list:after {
    content: '';
    display: block;
    clear: both;
}
.cate_prd_list>li .prd_info .prd_thumb>img {
    width: auto!important;
    max-width: 215px;
    height: auto!important;
    max-height: 215px;
}

button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
}
a, address, blockquote, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, select, span, strong, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
.cate_prd_list>li .prd_info .prd_thumb {
    position: relative;
    display: block;
    width: 215px;
    height: 215px;
    background: #fff;
}
.cate_prd_list>li .prd_info {
    text-align: center;
    font-size: 14px;
}
.cate_prd_list>li .prd_info .prd_thumb>img {
    width: auto!important;
    max-width: 215px;
    height: auto!important;
    max-height: 215px;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
.page_location {
    width: 100%;
    max-width: 1020px;
    height: 46px;
    margin: 0 auto;
    padding: 8px 0 0;
    border-bottom: 1px solid #e5e5e5;
}
.page_location .loc_home {
    float: left;
    width: 16px;
    height: 16px;
    margin: 7px 0 0;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_location.png) no-repeat 0 1px;
    text-indent: -9999px;
}
a {
    color: #666;
    text-decoration: none;
}
.page_location .loc_history {
    float: left;
}
.page_location .loc_history>li {
    float: left;
    position: relative;
    margin-left: 10px;
    padding-left: 15px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_location.png) no-repeat 0 -30px;
    line-height: 30px;
}
.page_location .loc_history>li a {
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    color: #888;
}
.page_location .loc_history>li a.cate_y:after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow_down7x5.png) no-repeat 50% 50%;
    border: 1px solid #e5e5e5;
    vertical-align: top;
}
.page_location .loc_history>li a {
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    color: #888;
}
.page_location:after {
    content: '';
    display: block;
    clear: both;
}
.titBox {
    padding: 25px 0;
}
.titBox h1 {
    font-size: 30px;
    line-height: 30px;
    color: #000;
}
ol, ul {
    list-style: none;
}
.cate_list_box>li.first, .cate_list_box>li:nth-child(6n+1) {
    margin-left: 0;
    width: 170px;
}
.cate_list_box>li {
    float: left;
    width: 171px;
    height: 40px;
    margin: -1px 0 0 -1px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.cate_brand_box {
    position: relative;
    min-height: 75px;
    margin: 30px 0;
    border: 1px solid #ddd;
    border-top: 2px solid #9bce26;
}
.cate_brand_box .tit_area {
    float: left;
    width: 168px;
    padding: 15px 20px;
}
.cate_brand_box .tit_area>strong {
    display: block;
    font-size: 18px;
    color: #000;
}
.cate_brand_box .tit_area>span {
    display: block;
    margin-top: 5px;
    color: #9bce26;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.cate_brand_box.more_view .brand_list {
    height: auto;
    max-height: none;
}

.cate_brand_box .brand_list {
    float: left;
    width: 850px;
    min-height: 75px;
    max-height: 118px;
    padding: 5px 0 5px 15px;
    border-left: 1px solid #ddd;
    overflow: hidden;
}
.cate_brand_box .brand_list>li {
    float: left;
    width: 165px;
    margin: 8px 0;
}
.cate_brand_box .brand_list>li>input[type=checkbox] {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: 0 0;
    -webkit-appearance: checkbox;
    vertical-align: middle;
}
input[type=checkbox]:disabled, input[type=checkbox]:read-only {
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png) no-repeat -20px -20px;
}
input[type=checkbox] {
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/icon_chk_radio.png) no-repeat 0 0;
}
input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
    border: 0!important;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin-right: 8px;
    vertical-align: top;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
input:disabled, input:read-only, select:disabled {
    background-color: #f8f8f8;
    color: #888;
}
input {
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    border: 1px solid #d0d0d0;
    color: #888;
    background: 0 0;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    letter-spacing: .5px;
    vertical-align: top;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
a, address, blockquote, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, select, span, strong, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
사용자 에이전트 스타일시트
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}
.cate_brand_box .brand_list>li>label {
    color: #333;
}
button, input.button, input.image, input.submit, label {
    cursor: pointer;
}
.cate_brand_box.more_view .btn_more {
    background-image: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow_up7x5.png);
}

.cate_brand_box .btn_more {
    z-index: 2;
    position: absolute;
    bottom: -30px;
    left: -1px;
    display: block;
    width: 85px;
    height: 30px;
    padding-right: 15px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #666;
    background: #fff url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow_down7x5.png) no-repeat 60px 50%;
    font-size: 12px;
}
button {
    text-align: center;
    color: #fff;
}
button, input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}
button, input[type=submit] {
    font-family: Montserrat,-apple-system,NotoSansCJKkr,AppleSDGothicNeo,Roboto,sans-serif;
    font-weight: 700;
}
button, input.button, input.image, input.submit, label {
    cursor: pointer;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
.cate_brand_box .btn_reset {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: -31px;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    text-align: right;
}
.cate_brand_box .btn_reset button {
    display: inline-block;
    width: 105px;
    line-height: 30px;
    background: 0 0;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.cate_brand_box .btn_reset button:before {
    content: '';
    width: 10px;
    height: 10px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/main/ico_x.png) no-repeat;
    display: inline-block;
    margin-right: 7px;
}
.cate_info_tx {
    margin: 60px 0 20px;
    font-size: 20px;
    color: #222;
    text-align: center;
}
.cate_info_tx>span {
    color: #f27370;
    font-weight: 500;
}
.cate_align_box {
    position: relative;
}
.cate_align_box {
    height: 55px;
    border-top: 5px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.cate_align_box .align_sort {
    position: relative;
    width: 774px;
    padding: 15px 0 0;
    z-index: 1;
}
.cate_align_box>div {
    float: left;
    height: 50px;
}
.cate_align_box .align_sort>ul {
    float: left;
}
.cate_align_box .align_sort>ul>li {
    float: left;
}
.cate_align_box .align_sort>ul>li.on>a {
    color: #000;
    font-weight: 700;
}
.cate_align_box .align_sort>ul>li>a {
    display: inline-block;
    margin: 0 21px;
    color: #666;
}
.cate_align_box .count_sort {
    width: 158px;
    padding: 15px 20px 0;
}

.cate_align_box>div+div {
    border-left: 1px solid #ddd;
}
.cate_align_box>div {
    float: left;
    height: 50px;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.cate_align_box .count_sort .tx_view {
    float: left;
    width: 40px;
    color: #222;
    text-align: center;
}
.cate_align_box .count_sort>ul {
    float: left;
    margin-left: 5px;
    overflow: hidden;
}
.cate_align_box .count_sort>ul>li+li {
    margin-left: 5px;
}

.cate_align_box .count_sort>ul>li {
    float: left;
    text-align: center;
    color: #ccc;
}
.cate_align_box .count_sort>ul>li>a {
    display: block;
    min-width: 20px;
    color: #888;
}
.cate_prd_list {
    border-bottom: 1px solid #ddd;
}
.cate_prd_list>li {
    position: relative;
    float: left;
    width: 255px;
    padding: 30px 20px 35px;
}
.cate_prd_list>li .prd_info {
    text-align: center;
    font-size: 14px;
}
.cate_prd_list>li .prd_info .prd_thumb {
    position: relative;
    display: block;
    width: 215px;
    height: 215px;
    background: #fff;
}
a {
    color: #666;
    text-decoration: none;
}
.cate_prd_list>li .prd_info .prd_thumb>img {
    width: auto!important;
    max-width: 215px;
    height: auto!important;
    max-height: 215px;
}

button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
.cate_prd_list>li .prd_info .prd_name {
    margin-top: 15px;
}
.cate_prd_list>li .prd_info .prd_name {
    display: block;
    min-height: 62px;
    margin: 8px 0 0;
    text-decoration: none;
}
.cate_prd_list>li .prd_info .prd_name>a {
    display: block;
}
a {
    color: #666;
    text-decoration: none;
}
.cate_prd_list>li .prd_info .prd_name .tx_brand {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #777;
    font-weight: 700;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    margin-top: 5px;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    overflow: hidden;
    height: 40px;
    margin-top: 2px;
    padding: 2px 0;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.cate_prd_list>li .prd_info .prd_name {
    margin-top: 15px;
}

.cate_prd_list>li .prd_info .prd_name {
    display: block;
    min-height: 62px;
    margin: 8px 0 0;
    text-decoration: none;
}
.cate_prd_list>li .prd_info .prd_name .tx_brand {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #777;
    font-weight: 700;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    margin-top: 5px;
}
.cate_prd_list>li .prd_info .prd_name .tx_name {
    overflow: hidden;
    height: 40px;
    margin-top: 2px;
    padding: 2px 0;
    -webkit-box-orient: vertical;
    line-height: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: keep-all;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.cate_prd_list>li .prd_info .btn_zzim {
    position: absolute;
    top: 205px;
    left: 195px;
    width: 40px;
    height: 40px;
    border: 1px solid #ebebeb;
    text-indent: -999999px;
    font-size: 0;
    background: #fff url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_zzim.png) no-repeat 50% 50%;
}
button {
    text-align: center;
    color: #fff;
}
button, input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}
button, input[type=submit] {
    font-family: Montserrat,-apple-system,NotoSansCJKkr,AppleSDGothicNeo,Roboto,sans-serif;
    font-weight: 700;
}
button, input.button, input.image, input.submit, label {
    cursor: pointer;
}
button, img, input, select, textarea {
    border: 0;
    vertical-align: top;
    color: #666;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cate_prd_list>li .prd_info .prd_price {
    height: 25px;
    line-height: 22px;
}
.cate_prd_list>li .prd_info .prd_price .tx_org {
    color: #777;
    font-size: 12px;
    text-decoration: line-through;
    vertical-align: middle;
    font-weight: 700;
}
.cate_prd_list>li .prd_info .prd_price .tx_org>span {
    display: inline-block;
    font-size: 14px;
    text-decoration: line-through;
    vertical-align: 0;
    letter-spacing: -.02em;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.cate_prd_list>li .prd_info .prd_price .tx_org+.tx_cur {
    margin: 0 0 0 7px;
    vertical-align: bottom;
}

.cate_prd_list>li .prd_info .prd_price .tx_cur {
    display: inline-block;
    color: #e02020;
    font-weight: 700;
}
.cate_prd_list>li .prd_info .prd_price .tx_cur>span {
    display: inline-block;
    font-size: 20px;
    vertical-align: -1px;
}
.tx_num {
    letter-spacing: -.02em!important;
    font-weight: 500;
}
.page_location .loc_history>li .history_cate_box>ul>li>a.on {
    font-weight: 700;
}

.page_location .loc_history>li a {
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    color: #888;
}
.page_location .loc_history>li .history_cate_box>ul {
    float: left;
    position: relative;
    width: 120px;
    padding: 0 10px;
    line-height: 1;
}
.cate_brand_box:after {
    content: '';
    display: block;
    clear: both;
}
/*검색 결과*/
.searchResultArea {
    overflow: hidden;
    position: relative;
    padding: 34px 0 14px;
    border-bottom: 2px solid #666;
}
.searchResultArea .resultTxt {
    padding-right: 250px;
    font-size: 20px;
    line-height: 40px;
    color: #333;
}
.searchResultArea .resultTxt strong {
    overflow: hidden;
    position: relative;
    display: block;
    float: left;
    max-width: 410px;
    margin-right: 5px;
    padding: 0 5px 0 7px;
    font-size: 30px;
    line-height: 40px;
    vertical-align: top;
    color: #9bce26;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}
.searchResultArea .resultTxt strong:before {
    content: '‘';
    position: absolute;
    top: 0;
    left: 0;
}
.searchResultArea .resultTxt strong:after {
    content: '’';
    position: absolute;
    top: 0;
    right: 0;
}
.searchResultArea .resultTxt span {
    color: #f27370;
}
.searchResultArea .resultTxt:after {
    display: block;
    content: "";
    clear: both;
}
.detailSearch {
    overflow: hidden;
}
.detailSearch.new .search_box {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.detailSearch.new .search_box .inner {
    display: table;
    width: 100%;
}
.detailSearch.new .search_box .tit_th {
    position: relative;
    display: table-cell;
    width: 170px;
    padding: 17px 0 0 20px;
    color: #333;
    background-color: #f4f4f4;
    vertical-align: top;
}
a, address, blockquote, body, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, input, label, li, ol, p, pre, select, span, strong, textarea, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
.detailSearch.new .search_box.on .tit_th .btnMore {
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/btn_toggle2.gif) no-repeat 50%;
}
.detailSearch.new .search_box .tit_th .btnMore {
    position: absolute;
    top: 18px;
    right: 9px;
    width: 18px;
    height: 18px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/btn_toggle1.gif) no-repeat 50%;
    font-size: 0;
    line-height: 0;
}
.detailSearch.new .search_box.cate .list.show {
    display: block;
}
.detailSearch.new .search_box.cate .list {
    display: none;
    margin: 0;
    height: 54px;
    padding: 14px 0;
    overflow: visible;
    overflow-y: visible;
}
.detailSearch.new .search_box.on .list {
    overflow-y: auto;
    height: auto;
    max-height: 181px;
}
.detailSearch.new .search_box .list {
    vertical-align: top;
    margin: 14px 0;
    overflow: hidden;
    height: 26px;
}
.detailSearch.new .search_box .list>li {
    position: relative;
    float: left;
    width: 170px;
    padding: 0 0 0 15px;
    line-height: 26px;
}
.detailSearch.new .search_box .list>li>a {
    font-size: 12px;
    color: #333;
}
.detailSearch.new .search_box .list>li>a, .detailSearch.new .search_box .list>li>label {
    display: inline-block;
    max-width: 125px;
    font-size: 12px;
    color: #333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.detailSearch.new .search_box .list_subbox {
    display: none;
    margin: -4px 0 9px 0;
    padding: 0 0 0 5px;
}
.detailSearch.new .search_box .list_subbox>ul {
    display: none;
    padding: 8px 0 0 10px;
    background-color: #eee;
}
ol, ul {
    list-style: none;
}
.detailSearch.new .search_box .list_subbox>ul>li {
    float: left;
    width: 170px;
    padding-bottom: 7px;
}
.detailSearch.new .search_box .list_subbox>ul>li>a {
    display: block;
    padding-right: 15px;
    font-size: 12px;
    color: #333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detailSearch.new .search_box {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.detailSearch.new .search_box .inner {
    display: table;
    width: 100%;
}
.detailSearch.new .search_box .tit_th {
    position: relative;
    display: table-cell;
    width: 170px;
    padding: 17px 0 0 20px;
    color: #333;
    background-color: #f4f4f4;
    vertical-align: top;
}
.detailSearch.new .search_box .tit_th .btnMore {
    position: absolute;
    top: 18px;
    right: 9px;
    width: 18px;
    height: 18px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/btn_toggle1.gif) no-repeat 50%;
    font-size: 0;
    line-height: 0;
}
.detailSearch.new .search_box {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.detailSearch.new .search_box .inner {
    display: table;
    width: 100%;
}
.detailSearch.new .search_box .tit_th {
    position: relative;
    display: table-cell;
    width: 170px;
    padding: 17px 0 0 20px;
    color: #333;
    background-color: #f4f4f4;
    vertical-align: top;
}
.detailSearch.new .search_box .priceSearch {
    overflow: hidden;
    display: table-cell;
    padding: 12px 15px;
}
.detailSearch.new .search_box .priceSearch input[type=text] {
    width: 100px;
    height: 28px;
    font-size: 12px;
    line-height: 15px;
    color: #333;
}
.detailSearch.new .search_box .priceSearch>* {
    float: left;
}
.detailSearch.new .search_box .priceSearch input[type=text] {
    width: 100px;
    height: 28px;
    font-size: 12px;
    line-height: 15px;
    color: #333;
}
.detailSearch.new .search_box .priceSearch>* {
    float: left;
}
.detailSearch.new .search_box .priceSearch span {
    display: inline-block;
    width: 20px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    text-align: center;
}
.detailSearch.new .search_box .priceSearch>* {
    float: left;
}
.detailSearch.new .search_box .priceSearch input[type=submit] {
    margin-left: 6px;
    width: 90px;
    height: 28px;
    border: 1px solid #aaa;
    font-size: 12px;
    color: #666;
    letter-spacing: -.5px;
}

.detailSearch.new .search_box .priceSearch>* {
    float: left;
}
input:disabled, input:read-only, select:disabled {
    background-color: #f8f8f8;
    color: #888;
}
button, input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}
button, input[type=submit] {
    font-family: Montserrat,-apple-system,NotoSansCJKkr,AppleSDGothicNeo,Roboto,sans-serif;
    font-weight: 700;
}


